@font-face {
  font-family: odin-bold;
  src: url(fonts/Norse-Bold.otf);
}
:root {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  --accent-color: #596d48;
}
main {
  display: flex;
  gap: 2vw;
}
aside {
  flex: 33%;
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  height: 98vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#know {
  font-style: italic;
}
article {
  margin: auto;
  /* width: 66vw; */
  flex: 66%;
  background-color: #fff;
}
.logo {
  display: flex;
  background-color: rgb(0, 0, 0, 0.4);
  position: relative;
  top: 20vh;
  justify-content: center;
  align-items: center;
}
.logoImage {
  width: 130px;
  height: 180px;
}
.logoText {
  font-family: "odin-bold", sans-serif;
  color: white;
  font-size: 4rem;
  align-self: center;
}
/* sign up form */
h2 {
  margin-bottom: 20px;
}
legend {
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
}
fieldset {
  /* display: inline-block; */
  width: 50vw;
}
.formRow {
  margin-bottom: 10px;
}
button {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 10px;
  border-radius: 10px;
  color: #fff;
}
input {
  border-color: #e5e7eb;
  width: 60%;
  height: 20px;
  border-radius: 5px;
}
section {
  display: flex;
}
section > div {
  display: block;
  width: 60%;
}

input:invalid {
  border-color: red;
}
input:valid {
  border-color: lime;
}
input:focus {
  outline: none;
  border-color: blue;
  /* box-shadow: 5px 5px rgb(0, 0, 255, 0.3); */
}
#login {
  color: var(--accent-color);
}
input:placeholder-shown {
  border-color: black;
}

#createAccount:hover {
  background-color: #fff;
  color: var(--accent-color);
}
